<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Vets</title>
</head>
<body>
<!-- Only for IntelliJ Not for thymeleaf-->
<!--/*@thymesVar id="vet" type="guru.springframework.springcoursepetclinic.model.Vet"*/-->
<h1 th:text="'List of Vets'">Index Page...</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vet: ${vets}">
    <td th:text="${vet.id}">123</td>
    <td th:text="${vet.firstName}">Joe</td>
    <td th:text="${vet.lastName}">Wrox</td>
  </tr>
  </tbody>
</table>
</body>
</html>